*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.row{
  content: "";
  display: table;
  clear: both;

  width: 100%;
}

.center{
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
header{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  /* debug rules */
  height: 150px;
  background-color: #FF6C6C;
}

.up-left-nav{
  float: left;

  height: 75px;
  width: 20%;

  /* debug rules */
  background-color: #FF5959;
}

.up-right-nav{
  float: right;

  height: 75px;
  width: 20%;

  /* debug rules */
  background-color: #FF5959;
}

.down-left-nav{
  float: left;

  height: 75px;
  width: 10%;

  /* debug rules */
  background-color: #FF5959;
}

.down-right-nav{
  float: right;

  height: 75px;
  width: 30%;

  /* debug rules */
  background-color: #FF5959;
}



/* MAIN */
main{
  margin-top: 150px;
}

/* JUMBOTRON */
#jumbotron{
  border-top: solid 1px transparent; /* added border to father to avoid margin collapse */

  height: 645px;
  width: 100%;

  /* debug rules */
  background-color: #FFD08A;
}

.jumbo-content{
  margin-top: 40px;

  width: 40%;
  height: 350px;

  /* debug rules */
  background-color: #FFA935;
}



/* OVERVIEW */
#overview{
  height: 1410px;

  background-color: #F4F9FD;
}

/* SLOGAN */
.slogan{
  height: 390px;
  width: 100%;

  /* debug rules */
  background-color: #FCFF6D;
}

/* POPULAR FEATURES */
.popular-features{
  height: 320px;
  width: 80%;
  margin: 0px auto;
}

.background-popular-features{
  margin-bottom: 40px;

  /* debug rules */
  background-color: #FCFF6D;
}

.learn-more{
  float: left;

  height: 195px;
  width: 20%;

  margin-right: 20%;

  /* debug rules */
  background-color: #FFF500;
}

.free-hubspot{
  float: left;

  height: 195px;
  width: 60%;

  /* debug rules */
  background-color: #FFF500;
}

/* THREE HUBS */
.hub{
  float: left;

  height: 610px;
  width: 30%;

  margin-right: 5%;

  /* debug rules */
  background-color: #FFF500;
}

.hub:last-child{
  margin-right: 0;
}


/* DATA */
#data{
  border-top: solid 1px transparent;

  height: 650px;
  /* debug rules */
  background-color: #BDFF9D;
}

/* DATA TEXT */
.data-text{
  margin: 40px auto;
  /* debug rules */
  height: 200px;
  background-color: #05FF00;
}

/* NUMBERS */
.box-overview{
  float: left;

  height: 160px;
  width: 25%;
  /* debug rules */
  background-color: #05FF00;
}



/* PARTNERS */
#partners{
  height: 670px;
  background-color: white;
  /* debug rules */
}

#partners .row{
  background-color: #74F7FF;
}

.customers{
  float: left;

  width: 20%;

  margin-left: 7%;
  margin-top: 50px;
  margin-bottom: 50px;

  /* debug rules */
  height: 155px;
  background-color: #00C9D6;
}

.partners-logos{
  float: right;

  width: 50%;

  margin-right: 7%;
  margin-top: 50px;
  margin-bottom: 50px;

  /* debug rules */
  height: 155px;
  background-color: #00C9D6;
}

.growing-with{
  float: left;

  width: 40%;

  margin-bottom: 50px;

  /* debug rules */
  height: 370px;
  background-color: #00C9D6;
}


.testimonial{
  float: right;

  width: 30%;

  margin-bottom: 50px;

  /* debug rules */
  height: 370px;
  background-color: #00C9D6;
}



/* FOOTER */
footer{
  background-color: #7CB1FF;
  /* debug rules */
  height: 575px;
}

.footer-links{
  float: left;

  width: 20%;

  margin-right: 5%;

  /* debug rules */
  height: 215px;
  background-color: #283EFF;
}

/* LANGUAGES */
.languages{
  height: 60px;
  width: 100%;

  margin-top: 60px;
  margin-bottom: 40px;

  border-bottom: 1px solid white;

  /* debug rules */
  background-color: #283EFF;
}


/* COPYRIGHT AND POLICY */
.copyright{
  float: left;

  height: 60px;
  width: 20%;

  /* debug rules */
  background-color: #283EFF;
}

.policy{
  float: right;

  height: 60px;
  width: 20%;

  /* debug rules */
  background-color: #283EFF;
}
